/* POPUP */
.popup{
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.4);
    
    z-index: 30;
    inset: 0;
}
.popup.open{
    display: flex;
}
.popup-card{
    background-color: #fcfcfc;
    text-align: center;
    color: #777;
    
    border-radius: 10px;
    padding: 10px 50px;
    width: min(500px, 100%)
}
.popup-card p{
    margin-block: 5px;
    font-size: 18px;
}
.popup-card input{
    background-color: inherit;
    outline: none;
    border: solid 1px #777;
    color: inherit;

    margin-block: 5px;
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
}
.popup-nav{
    margin-block: 15px;
}
.popup-nav-btn{
    background-color: inherit;

    width: 100px;
    padding-block: 5px;
    font-size: 16px;
    border-radius: 5px;
}
.popup-nav-btn:hover{
    background-color: #eee;
}

/* TASK CATEGORY BTN */
.popup-card .task-category-btn{
    background-color: inherit;
    outline: none;
    border: solid 1px #777;
    color: inherit;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 5px;
    margin-block: 5px;
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
}
.popup-card .task-category-btn img{
    transition: transform 0.2s ease;

    transform: rotate(0deg);
    width: 12px;
    margin-right: 10px;
}
.task-category-btn.active img{
    transform: rotate(180deg);
}

/* INPUTS  */
.category-name-input, .task-title-input{
    padding: 5px 10px;
}
.category-color-input{
    height: 30px;
}

/* BUTTONS */
.popup-nav-cancel{
    border: solid 1px #681cc0;
    color: #681cc0;
}
.popup-nav-create{
    border: solid 1px #008d18;
    color: #008d18;
}
.popup-nav-save{
    border: solid 1px #008d76;
    color: #008d76;
}
.popup-nav-delete{
    border: solid 1px #d32a00;
    color: #d32a00;
}

/* TASK CATEGORY LIST  */
.task-category-list{
    position: fixed;
    list-style: none;
    text-align: left;
    box-sizing: content-box;
    overflow: hidden;
    transition: max-height 0.3s ease;
    
    width: min(400px, calc(100vw - 40px));
    max-height: 0px;
    background-color: #fcfcfc;
    border-radius: 8px;
}
.task-category-list.active{
    overflow-y: auto;

    max-height: 135px;
}
.task-category-list li{
    transition: margin-left 0.2s ease;

    padding: 2px 10px;
    margin-left: 0;
}
.task-category-list li:hover{
    margin-left: 10px;
    background-color: #eee;
    border-radius: 6px;
}
