*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #eee;
}
.app{
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar{
    background-color: #fcfcfc;
    overflow: hidden;
    transition: width .3s ease;

    flex-shrink: 0;
    width: 275px;
}
.sidebar.close{
    width: 0px;
}
.sidebar-content{
    padding: 10px 15px;;
}
.sidebar-title-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app-name{
    color: transparent;
    background-clip: text;

    background-image: linear-gradient(-135deg, #3ea8ff, #d323ff);
}
.sidebar-close-btn{
    background-color: #fcfcfc;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    cursor: pointer;

    height: 40px;
    aspect-ratio: 1/1;
    font-size: 32px;
    font-weight: 200;
}
.sidebar-close-btn:hover{
    background-color: #eee;
    border-radius: 8px;
}
.logo{
    display: block;

    margin:60px auto 100px;
    width: 80px;
}

/* SIDEBAR NAVIGATION */
.sidebar-nav-btn{
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    color: #555;
    background-color: #fcfcfc;

    width: 100%;
    font-size: 16px;
    margin-block: 3px;
    padding: 8px 12px;
    border-radius: 6px;
}
.sidebar-nav-btn-icon{
    display: grid;
}
.sidebar-nav-btn-icon img{
    margin-right: 10px;
    width: 20px;
}
.sidebar-nav-btn:hover{
    background-color: #eee;
}
.sidebar-nav-btn.active{
    background-color: #eee;
    color: #9c23ff;
}
.sidebar-nav-btn-icon-active{
    display: none;
}
.sidebar-nav-btn.active .sidebar-nav-btn-icon-default{
    display: none;
}
.sidebar-nav-btn.active .sidebar-nav-btn-icon-active{
    display: block;
}

/* CATEGORIES */
.categories-container{
    overflow: hidden;
    transition: height 0.3s ease;

    height: 0px;
}

.categories-list{
    background-color: #eee;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;

    max-height: 150px;
    border-radius: 6px;
    /* margin-block: 3px;
    padding: 10px 30px; */
}
.categories-list::-webkit-scrollbar {
    width: 30px;
}
.categories-list::-webkit-scrollbar-track{
    background: transparent;
}
.categories-list::-webkit-scrollbar-thumb {
    background: #bbb;
    border: 12px solid #eee;

    border-radius: 999px;
}
.category-item{
    color: #555;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    overflow: hidden;

    padding-left: 30px;
    margin-block: 3px;
}
.add-new-categories-li{
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;

    padding-left: 30px;
    margin-top: 6px;
}
.add-new-categories-li img{
    height: 18px;
    margin-right: 8px;
}
.add-new-categories-li span{
    color: #bbb;
    font-size: 16px;
}
.category-color{
    background-color: #75ccff;
    display: inline-block;

    margin-right: 8px;
    height: 18px;
    border-radius: 4px;
    aspect-ratio: 1/1;
}

/* MAIN CONTENT */
.main-content{
    overflow: hidden;
    flex: 1;
}
.main-content-inner{
    padding: 10px 20px;
}

/* MAIN CONTENT HEADER  */
.main-content-header{
    display: flex;
    align-items: center;
    position: relative;

    margin-bottom: 20px;
}
.sidebar-open-btn{
    border: none;
    background-color: transparent;
    background-image: url(/Img/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    transition: opacity 0.3s ease;
    
    opacity: 0%;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 8px;
}
.sidebar-open-btn:hover{
    background-image: url(/Img/menuFill.svg);
}
.sidebar-open-btn.active{
    cursor: pointer;
    opacity: 100%;
}
.header-text{
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    color: #555;
    overflow: hidden;

    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
}
/* TASKS CONTAINER */
.tasks-container{
    margin: 0px auto;
    max-width: 800px;
}

/* TASK FILTER */
.task-filter-container{
    display: flex;
}
.task-filter-container p{
    color: #444;
    user-select: none;

    font-weight: 500;
    width: 100%;
}
.task-filter-btn{
    white-space: nowrap;
    color: #bbb;
    border: 1px solid #bbb;
    cursor: pointer;

    font-weight: 500;
    border-radius: 6px;
    min-width: 80px;
    margin-inline: 5px;
}
.task-filter-btn.active{
    border: none;
    background-color: #fcfcfc;
    color: #000;
    box-shadow: 0px 1px 2px #00000049;
}